body{
    color: white;
    font-family: 'Indie Flower', cursive;
}

#timer{
    font-size: 32px;
}
.possibleAnswers:hover 
{
    background-color: red;
}
/*
div
{
    border-style: solid;
    color: grey
}
*/
jumbotron
{
    text-align: center  
}